<p id="notice"><%= notice %></p>

<h1>Listing Menu Items</h1>

<table border="3">
  <thead>
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Category</th>
        <th>Ingredient</th>
        <th>Taste</th>
        <th>Actions</th>
        <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
          <td><%= menu_item.name %></td>
          <td>
              <% if menu_item.image != nil %>
                  <img src="<%= menu_item.image %>" style="width:75px;height:75px;"/>
              <% elsif %>
                  no image
              <% end %>%>
              
          </td>
          <td><%= menu_item.description %></td>
          <td><%= menu_item.category %></td>
          <td><%= menu_item.ingredient %></td>
          <td><%= menu_item.taste %></td>
          <td><%= link_to 'Show', menu_item %></td>
          <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
          <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu item', new_menu_item_path %>
