<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Host email</th>
      <th>Name</th>
      <th>Accept email</th>
      <th>Decline email</th>
      <th>Pending email</th>
      <th>Address</th>
      <th>Occur date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.host_email %></td>
        <td><%= event.name %></td>
        <td><%= event.accept_email %></td>
        <td><%= event.decline_email %></td>
        <td><%= event.pending_email %></td>
        <td><%= event.address %></td>
        <td><%= event.occur_date %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
